/* Main/Body Styling: */
main {
	margin: 0 auto;
	max-width: 90%;
  padding: 5px 10px;
}
:root {
  --primary: #8c54ff;
  --secondary: #5b942d;
  --tertiary: #B12704;
  --platinum: #302e33;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--dark);
  color: var(--light);
  font-family: 'Poiret One', cursive;

}

h1,
h2,
h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
	color: var(--primary);
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

/* Header: */
#header {
  background: var(--dark);
  display: flex;
  margin-left: 5px;
}

#header a{
  display: inline-flex;
}

span[role="img"] {
  cursor: default;
}

#header h2:hover,
#navigation a:hover,
#resume .link:hover,
#footer-icons a:hover,
#footer a:hover {
  filter: invert(100%);
}

/* Navigation: */
#navigation {
  font-weight: bold;
  padding-top: 11px;
  margin-left: 30px;
}

#navigation a {
  padding-left: 3em;
  font-weight: bold;
  color: var(--primary);
}

/* About: */
#about, .project {
  text-align: center;
}

#about img {
  padding-top: 20px;
}

/* Contact: */
#contact-section {
  justify-content: center;
  margin-top: 50px;
}

#contact-form {
  padding-top: 20px;
} 

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 5px;
  transition: box-shadow 0.2s;
  min-width: 400px;
  margin: 7px auto;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

textarea {
	width: 400px;
	height: 120px;
	border: 3px solid #cccccc;
  border-radius: 1em;
	padding: 5px;
  margin: 7px auto;
}

button {
  color: var(--light);
  font-size: 1rem;
  text-decoration: none;
  padding: 0.4rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 1px 1px;
  background-color: var(--secondary);
  width: 90px;
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

/* Portfolio: */
.project h1,
.resume {
  margin-top: 50px;
}

.card {
  border-radius: 5px;
  margin: 1rem;
  width: 400px;
}

.card, .img-container {
  height: 55%;
  text-align: center;
  border-radius: 10px;
}

.card, .img-container img {
  width: 100%;
  padding: 10px;
  margin-bottom: 40px;
}

.card, .content {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

#project-icon {
  padding: 5px;
}

#project-icon:hover,
#resume a:hover {
  filter: invert(20%);
}

.wrapper {
  padding-top: 50px;
  justify-content: space-around;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-flow: row wrap;
  padding: 10px;
  align-content: flex-start;
}

/* Resume: */
.resume-p {
  padding-top: 20px;
}

#skills {
  margin-top: 40px;
}

#skills img {
  padding: 20px;
}

/* Footer: */
#footer {
  color: var(--primary);
  text-align: center;
  margin-top: 100px;
}

#footer-icons a {
  padding: 25px;
}

